img[alt="FEI Logo"] {
    padding: 5px;
    max-height: 50px;
}

img[alt="EA Logo"] {
    padding: 5px;
    max-height: 50px;
}

[data-md-color-scheme="c4h"] {
    --md-primary-fg-color:       #8db48e;
    --md-accent-fg-color:        darkgreen;
    --md-primary-bg-color:       #f5f5f5;
}

h1 {
    color: darkgreen;
}

th {
    background-color: var(--md-primary-fg-color);
}
  